<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Complete Booking </title>
</head>
    <div>
        <img style="display:block; margin: auto; height: 100px;"  src="https://ttfscaffolding.com/wp-content/uploads/2022/11/logo-1.png">
        <h1 style="margin: 20px auto 10px auto; text-align:center; font-size:20px;">The firts step to complete the request: </h1>
        <p style="margin:0 auto 30px auto; padding: 0; color: gray; text-align:center; font-size:15px;"> Choose either fill the online-form or download the PDF form: </p>

        <div style="display:block; width:fit-content;  margin:auto; padding-left:50px; justify-content:center;">
            <div style="display:block; margin:auto;"> 
                <p style="font-weight: bold; font-size:15px; display:inline-block; margin:auto; padding:0; width:80px;"> Name:</p> 
                <p style="ext-align:left; font-size:15px; display:inline-block; margin:0; padding:5px 0;"> {{formTitle}}</p> 
            </div>
          
        </div>
    
    
    </div>

</body>
</html>

